<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Invoice Detail</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h4> Sale Invoice Report</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <p><strong>Customer: </strong><span data-bind="text: customer"></span>
                    <strong class="float-left">Invoice-Date: </strong><span data-bind="text: created-date"></span>
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Medicine</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- ko foreach: -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- / ko -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</body>
</html>